siuntos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/" name="SiuntosServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/" schemaLocation="http://localhost:8080/ws/siuntos?xsd=1"/>
</xsd:schema>
</types>
<message name="pridetiSiunta">
<part name="parameters" element="tns:pridetiSiunta"/>
</message>
<message name="pridetiSiuntaResponse">
<part name="parameters" element="tns:pridetiSiuntaResponse"/>
</message>
<message name="gautiVisasSiuntas">
<part name="parameters" element="tns:gautiVisasSiuntas"/>
</message>
<message name="gautiVisasSiuntasResponse">
<part name="parameters" element="tns:gautiVisasSiuntasResponse"/>
</message>
<message name="istrintiSiunta">
<part name="parameters" element="tns:istrintiSiunta"/>
</message>
<message name="istrintiSiuntaResponse">
<part name="parameters" element="tns:istrintiSiuntaResponse"/>
</message>
<message name="gautiSiuntaPagalId">
<part name="parameters" element="tns:gautiSiuntaPagalId"/>
</message>
<message name="gautiSiuntaPagalIdResponse">
<part name="parameters" element="tns:gautiSiuntaPagalIdResponse"/>
</message>
<message name="atnaujintiStatusa">
<part name="parameters" element="tns:atnaujintiStatusa"/>
</message>
<message name="atnaujintiStatusaResponse">
<part name="parameters" element="tns:atnaujintiStatusaResponse"/>
</message>
<portType name="SiuntosService">
<operation name="pridetiSiunta">
<input wsam:Action="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/SiuntosService/pridetiSiuntaRequest" message="tns:pridetiSiunta"/>
<output wsam:Action="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/SiuntosService/pridetiSiuntaResponse" message="tns:pridetiSiuntaResponse"/>
</operation>
<operation name="gautiVisasSiuntas">
<input wsam:Action="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/SiuntosService/gautiVisasSiuntasRequest" message="tns:gautiVisasSiuntas"/>
<output wsam:Action="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/SiuntosService/gautiVisasSiuntasResponse" message="tns:gautiVisasSiuntasResponse"/>
</operation>
<operation name="istrintiSiunta">
<input wsam:Action="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/SiuntosService/istrintiSiuntaRequest" message="tns:istrintiSiunta"/>
<output wsam:Action="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/SiuntosService/istrintiSiuntaResponse" message="tns:istrintiSiuntaResponse"/>
</operation>
<operation name="gautiSiuntaPagalId">
<input wsam:Action="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/SiuntosService/gautiSiuntaPagalIdRequest" message="tns:gautiSiuntaPagalId"/>
<output wsam:Action="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/SiuntosService/gautiSiuntaPagalIdResponse" message="tns:gautiSiuntaPagalIdResponse"/>
</operation>
<operation name="atnaujintiStatusa">
<input wsam:Action="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/SiuntosService/atnaujintiStatusaRequest" message="tns:atnaujintiStatusa"/>
<output wsam:Action="http://service.task2.PI24SN.simanaviciusd.lt.eif.viko/SiuntosService/atnaujintiStatusaResponse" message="tns:atnaujintiStatusaResponse"/>
</operation>
</portType>
<binding name="SiuntosServiceImplPortBinding" type="tns:SiuntosService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="pridetiSiunta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gautiVisasSiuntas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="istrintiSiunta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gautiSiuntaPagalId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atnaujintiStatusa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SiuntosServiceImplService">
<port name="SiuntosServiceImplPort" binding="tns:SiuntosServiceImplPortBinding">
<soap:address location="http://localhost:8080/ws/siuntos"/>
</port>
</service>
</definitions>